.item-container {
  height: 350px;
  margin: 11px;
  width: 284px;
  background-color: #c0c0c0;
  outline: 4px solid;
  border-radius: 2px;
  padding: 20px;
  text-align: center;
}

.item-icon {
  width: 60px;
  outline: 3px solid;
  outline-offset: -3px;
}

.prop {
  text-align: left;
  display: inline-block;
  width: 50%;
  border-bottom: 2px groove #c0c0c0;
}

.stat {
  text-align: right;
  display: inline-block;
  width: 50%;
  border-bottom: 2px groove #c0c0c0;
}

.title-container {
  height: 18%;
}

.icon-container {
  height: 26%;
  margin-top: 9px;
  border-bottom: 2px solid black;
}

.boosts {
  height: calc(100% - 18% - 26%);
  padding: 10px 0 10px 0;
  align-items: center;
}
