.container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.item-container {
  height: 380px;
  margin: 11px;
  width: 284px;
  background-color: #c0c0c0;
  outline: 4px solid;
  border-radius: 2px;
  padding: 20px;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item-icon {
  width: 80px;
  outline: 3px solid;
  outline-offset: -3px;
}

.prop {
  text-align: left;
  display: inline-block;
  width: 50%;
  border-bottom: 2px groove #c0c0c0;
}

.stat {
  text-align: right;
  display: inline-block;
  width: 50%;
  border-bottom: 2px groove #c0c0c0;
  color: #008000;
}

.title-container {
  height: 18%;
}

.icon-container {
  height: 26%;
  border-bottom: 2px solid black;
}

.boosts {
  height: calc(100% - 18% - 26%);
  padding: 10px 0 10px 0;
  align-items: center;
}
