.app-container {
  background-color: #828282;
  position: absolute;
  min-height: 100%;
  justify-content: center;
}

.items-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.buttons-container {
}

.filter-container {
  width: calc(76% - 40px);
  float: left;
}

.loadout-container {
  margin-top: 20px;
  margin-right: 80px;
  width: calc(24% - 40px - 80px);
  height: auto;
  float: right;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #c0c0c0;
}

.text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
