.grid {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.loadout-slot {
  cursor: pointer;
  margin: 5px 14px;
}

.deselected {
  opacity: 0.3;
}

.reset-loadout-button {
  margin-top: 40px;
  height: 30px;
  width: 50px;
}
