.loadout-grid {
  height: 300px;
  margin: 22px;
  background-color: #c0c0c0;
  outline: 2px solid;
  border-radius: 2px;
  padding: 20px;
  margin-top: 38px;
  text-align: center;
  justify-content: center;
  grid-row-start: 200px;
  background-color: #828282;
  padding-top: 80px;
}

.loadout-row {
  height: 60px;
  width: 258px;
}

.two-slots {
  margin-left: 0px;
}

.three-slots {
  margin-left: -30px;
}

.four-slots {
  margin-left: 0px;
}
.empty {
  outline: 0px solid black;
}
