.loadout-grid {
  background-color: #c0c0c0;
  outline: 2px solid;
  border-radius: 2px;
  background-color: #828282;
  display: inline-block;
  padding: 20px;
}

.loadout-stat-container {
  margin-top: 10px;
  border-top: 2px solid black;
}

.loadout-row {
  height: 60px;
}

.three-slots {
  margin-left: -60px;
}
